
.app-wrapper {
    width: 100%;
    min-height: 100vh;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns:2fr 10fr;
    gap: 10px;

    grid-template-areas:
            'header header header'
            'nav main main';
}


.header {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    grid-area: header;
    background-color: salmon;
}

.logo {
    width: 100%;
    max-width: 50px;
    padding: 0 20px;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.main img  {
    width: 100%;
}