.app-wrapper {
    box-sizing: border-box;
    width: 100%;
    /*min-height: 100vh;*/
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns:2fr 10fr;
    gap: 30px;
    grid-template-areas:
            'header header header'
            'nav profile profile';
}


