.nav {
  grid-area: nav;
  min-width: 180px;
}

.navList {
  list-style: none;
  padding: 0 0 0 20px;
}

.navItem {
  margin: 10px 0;
}

.navLink {
  text-decoration: none;
  color: #1f1f1f;

  &:hover {
    text-decoration: underline;
  }
}

.navLinkActive {
  text-decoration: none;
  color: salmon;
}


